<!DOCTYPE html>
<html>
<head>
    <title>EC Project</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/web/static/main/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/web/static/main/img/favicon.ico" type="image/x-icon" />

    <!-- html5shiv -->
    <!--[if lt IE 9]>
        <script src="/web/static/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!-- normalize -->
    <link rel="stylesheet" href="/web/static/normalizecss/normalize.css" />

    <!-- jquery -->
    <script src="/web/static/jquery/jquery-2.2.4.min.js"></script>
    <script src="/web/static/jquery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/web/static/jquery/jquery-ui.min.css" />

    <!-- jszip -->
    <script src="/web/static/jszip/jszip.min.js"></script>
    
    <!-- kendoui -->
    <script src="/web/static/kendoui/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="/web/static/kendoui/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="/web/static/kendoui/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/web/static/kendoui/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="/web/static/kendoui/styles/kendo.dataviz.bootstrap.min.css" />
    
    <!-- knockoutjs -->
    <script src="/web/static/knockoutjs/knockout-3.4.2.js"></script>
    <script src="/web/static/knockoutjs/knockout.mapping-2.4.1.js"></script>
    <script src="/web/static/knockoutjs/knockout.validation.min.js"></script>

    <!-- knockout-kendo -->
    <script src="/web/static/knockout-kendo/knockout-kendo.min.js"></script>
    
    <!-- tooltipster -->
    <script src="/web/static/tooltipster/tooltipster.main.min.js"></script>
    <script src="/web/static/tooltipster/tooltipster-SVG.min.js"></script>
    <link rel="stylesheet" href="/web/static/tooltipster/tooltipster.main.min.css" />

    <!-- sweetalert -->
    <script src="/web/static/sweetalert/sweetalert.min.js"></script> 
    <link rel="stylesheet" href="/web/static/sweetalert/sweetalert.css" />

    <!-- bootstrap -->
    <script src="/web/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/web/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/web/static/bootstrap/css/bootstrap-theme.min.css" />

    <!-- lodash -->
    <script src="/web/static/lodash/lodash.js"></script>

    <!-- momentjs -->
    <script src="/web/static/momentjs/moment.js"></script>

    <!-- animate.css -->
    <link rel="stylesheet" href="/web/static/animatecss/animate.css" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="/web/static/font-awesome/css/font-awesome.min.css" />

    <!-- bootstrap-switch -->
    <script src="/web/static/bootstrap-switch/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" href="/web/static/bootstrap-switch/bootstrap-switch.min.css" />

    <!-- main -->
    <script src="/web/static/main/js/layout.js"></script>
    <link rel="stylesheet" href="/web/static/main/css/fonts.css" />
    <link rel="stylesheet" href="/web/static/main/css/layout.css" />

    <script>
        'use strict';
        var viewModel = {};
    </script>
</head>
<body>
    <div class="container-fluid layout-container">
        <div class="layout-content" data-bind="with: viewModel">
            {{.Content}}

            <!-- avoid broken tag -->
            <div class="clearfix"></div>
        </div>
    </div>

    <script>
        ko.applyBindings(viewModel);
    </script>
</body>
</html>
